.board {
  border: solid 1px rgba(114, 107, 107, 0.336);
  font-family: monospace;
  font-weight: bold;
  font-size: 300%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.board td {
  text-align: center;
  width: 1.5em;
  height: 1.5em;
}

.msg {
  padding: 1em;
  font-size: 16px;
}

.msg.ok {
  color: white;
  background-color: rgb(6, 116, 6);
}

.msg.err {
  color: white;
  background-color: rgb(204, 14, 14);
}

body {
  text-align: center;
  font-size: 16px;
}

li {
  font-size: 16px;
  text-align: left;
}